*{
	margin: 0;
	padding: 0;
}
body,html{
	width: 100%;
	height: 100%;
}
.index-header{
	width: 100%;
	position: relative;
	background-color: #0062CC;
}
.index-header .mui-search{
	width:70%;
	margin: 0 auto;
}
.index-header  input[type=search]{
	/*background-color: #EFEFF4;*/
	margin-bottom: 1%;
	border-radius: 50px;
}

.index-picture{
	width: 100%;
}
.index-picture>img{
	width: 100%;
}
.index-content{
	width: 100%;
}
.index-content>ul{
	width: 100%;
    float: left;
    display: inline-flex;
    display: -webkit-inline-flex;
    flex-flow: row wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    text-align: center;
}
li{
	width: 33.3%;
	list-style: none;
}
